/* .replies {
  list-style: none;
  border-left: 1px dashed grey;
  padding-top: 10px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.comments {
  margin-top: 20px;


}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 90px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  /* border: 1px solid rgb(107, 114, 12); */
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  border-left: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  /* width: 50%; */
  margin-top: 10px;
  margin-bottom: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 14px;
  padding-left: 5px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 20px;
  padding-left: 5px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.mainContainer {
  border: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* align-items: flex-end; */

}

.mainContainer-r {
  border: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.comment-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 8px;
  /* border: 1px solid rgb(107, 114, 12); */
}

.title {
  font-size: xx-large;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}

.date {
  padding-left: 5px;
  padding-top: 7px;
  color: lightslategrey;
}

.label {
  text-align: left
}

.list {
  margin-top: 20px;
  display: flex;
  /* border: 1px solid lightgray; */
  width: 52%;
  margin-left: 24%;
  justify-content: center;
}

.btn {
  text-transform: lowercase;
  cursor: pointer;
  /* margin-left: -4px; */
}

.btn:hover {
  color: #3140A0;
  background-color: white;
}

.icon {
  background-color: red;
}